.home-container {
  min-height: 90vh;
}
.home-responsive-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.tabs-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  overflow-y: auto;
}
.dishes-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
@media (max-width: 576px) {
  .tabs-container {
    margin-top: 0;
  }
}
